body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial,
        sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    padding: 8px;
}

li {
    margin-top: 8px;
}

a,
a:visited {
    color: rgb(0 24 103);
}

header {
    display: flex;
    gap: 8px;
}

header select {
    margin-left: auto;
}

header button.active {
    background: rgb(209 218 249);
}

div.sets {
    display: grid;
    gap: 16px;
    grid-template-columns: 50% 50%;
}

dl + dl {
    margin-top: 16px;
}

.all-songs {
    display: grid;
    gap: 16px;
    grid-template-columns: repeat(3, 1fr);
}

a.back-link.active {
    display: none;
}
